<!-- <div class="p-4">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6">Il tuo Profilo</h2>
  <app-userprofilecard [user]="user" [isLoading]="isLoading"></app-userprofilecard>
  <div class="mt-6">
    <app-buttonlogout [isLoading]="isLoading"></app-buttonlogout>
  </div>
</div> -->

<div class="p-4">
  <h2 class="pacifico-font text-2xl font-bold mb-6">Profilo</h2>
  <div class="userData">
    <app-userprofilecard [user]="user" [isLoading]="isLoading"></app-userprofilecard>
    <app-usercardpath [user]="user" [isLoading]="isLoading"></app-usercardpath>
  </div>
  <div *ngIf="!isLoading && !user" class="text-red-600 dark:text-red-400 text-center">
    Errore nel caricamento del profilo. Riprova più tardi.
  </div>
  <div style="width: 100% !important; min-width: 100% !important; display: flex; justify-content: flex-end;" class="mt-4 mb-4">
    <app-buttonlogout style="width: 100% !important; min-width: 100% !important;" [isLoading]="isLoading"></app-buttonlogout>
  </div>
  <div class="infocardContainer mt-3 mb-16">
      <app-infocard></app-infocard>
  </div>
</div>